:root {
  /* --hex-width: 10vw; */
  /* font-size: 1vw; */
  --hex-width: 200px;  
  font-size: 16px;
} 
/* i think add the media queries just on these vaues */

@media only screen and (max-width: 768px) {
  :root {
    --hex-width: 20vw;
    font-size: 8px;
  } 
}


body {
  background-color: cornsilk;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}


/* **********************
  HEX BOARD
*/

#board {
  position: relative;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, var(--hex-width));
  justify-content: center;
  align-content: center;
  padding: 10px;
}

.hex {
  /* position: absolute; */
  height: var(--hex-width);
  width: var(--hex-width);
  background-color: gray;
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 5rem;
  color: white;
}

.hex:hover {
  cursor: pointer;
}

.offset-top, .offset-bot {
  position: relative;
  left: 50%;
}

.offset-top {
  top: 20%;
}

.offset-bot {
  bottom: 20%;
}

.hidden {
  visibility: hidden;
}

#hex-0 {
  background-color: gold;
}

/* **********************
  TEXT DISPLAY
*/

#text-display {
  height: 50px;
  width: 100%;
  padding-top: 10px;
  text-align: center;
  font-size: 2rem;
  transition: all 50ms;
  transition-timing-function: cubic-bezier(0, 2.14, 1, 1.53);

  /* added to account for words found header */
  margin-top: 75px;

}

.wrong {
  transform: translateX(5px);
}

.valid {
  transform: scale(1.1);
}

/* **********************
  MESSAGE DIV
*/

#msg-display {
  text-align: center;
  height: 2rem;
  font-size: 1.5rem;
  font-style: italic;
}

/* **********************
  OPTION BUTTONS
*/

#word-options-wrapper {
  display: flex;
  justify-content: space-around;
}

.option-button {
  /* width: 33%; */
  width: auto;
  padding: 10px;
  /* height: 75px; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
  font-size: 2.5rem;
  border: 2px solid black;
}

.option-button:hover {
  cursor: pointer;
}

#delete-letter {
  background-color: gray;
}

#submit {
  background-color: gold;
}

/* **********************
  WORDS FOUND DIV
*/

#game-wrapper {
  position: relative;
}

#words-found-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  
  top: 0;
  overflow: hidden;
  background-color: white;
  border: 2px solid black; 
  transition: all 1s;
  border-radius: 15px;
  margin-top: 10px;
}

#words-found-header-offset {
  width: 50px;
}

#words-found-header:hover {
  cursor: pointer;
}

#words-found-wrapper.close {
  padding-top: 0px;
  height: 50px;
}

#words-found-header {
  width: 100%;
  height: 50px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  font-size: 2rem;
  width: 50px;
  text-align: center;
  transition: all 500ms;
  transition-delay: 500ms;
}

.close #words-found-header .arrow {
  transform: rotate(180deg);
}

#words-found-header-text {
  font-size: 2rem;
  font-weight: bolder;
}

#words-found-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 30px);
  flex-direction: column;
  padding: 15px 50px;
  height: 100%;
  font-size: 1.2rem;
}

.word {
  padding: 10px;
  text-align: center;
}

#score > * {
  display: inline;
}

#score {
  width: 100%;
  text-align: center;
  margin: 15px 0px;
  font-style: italic;
  font-size: 1.2rem;
}

#lock-words-wrapper {
  margin-left: 50px;
}

#game-wrapper.locked {
  right: 25vw;
}

.locked > #words-found-wrapper {
  left: 125%;
}

.locked > #words-found-wrapper #words-found-header:hover {
  cursor: auto;
}

.locked > #words-found-wrapper #words-found-header .arrow {
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  #lock-words-wrapper {
    display:none;
  }
}

/* **********************
  OPTIONS
*/

#options-wrapper {
  display: flex;
  justify-content: center;
}

#options-wrapper > * {
  color: black;
  margin: 30px 20px;
  padding: 5px;
  font-size: 1.2rem;
  border: none;
  background-color: lightgray;
  border: 2px solid gray;
}


/* **********************
  HEX CLICK ANIMATION
*/

.hex.clicked {
  color: black;
  background-color: #5a5a5a;

}

#hex-0.clicked {
  background-color: #efc900;
}

/* **********************
  MISC
*/

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* **********************
  ALL WORDS
*/

.pop-up-div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  border: 2px solid black;
  border-radius: 15px;
}

.pop-up-div.close {
  visibility: hidden;
}

.pop-up-div-header {
  width: 100%;
  color: black;
  margin-top: 15px;
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}

.pop-up-div-exit {
  margin-right: 50px;
  width: 20px;
}

.pop-up-div-header-offset {
  width: 70px;
}

.pop-up-div-exit:hover {
  cursor: pointer;
}

.pop-up-div-text {
  margin: 35px;
}

#help-text {
  font-size: 1.5rem;
}

#show-words-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.show-word {
  padding-left: 15px;
  text-align: left;
  font-size: 1rem;
  margin-top: 1px
}

#show-words-list .found {
  font-weight: bolder;
}