:root {
  /* --hex-width: 10vw; */
  /* font-size: 1vw; */
  --hex-width: 200px;  
  font-size: 16px;
} 
/* i think add the media queries just on these vaues */

@media only screen and (max-width: 768px) {
  :root {
    --hex-width: 20vw;
    font-size: 8px;
  } 
}


body {
  background-color: cornsilk;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}


/* **********************
  HEX BOARD
*/

#board {
  position: relative;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, var(--hex-width));
  justify-content: center;
  align-content: center;
  padding: 10px;
}

.hex {
  /* position: absolute; */
  height: var(--hex-width);
  width: var(--hex-width);
  background-color: gray;
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 5rem;
  color: white;
}

.hex:hover {
  cursor: pointer;
}

.offset-top, .offset-bot {
  position: relative;
  left: 50%;
}

.offset-top {
  top: 20%;
}

.offset-bot {
  bottom: 20%;
}

.hidden {
  visibility: hidden;
}

#hex-0 {
  background-color: gold;
}

/* **********************
  TEXT DISPLAY
*/

#text-display {
  height: 50px;
  width: 100%;
  padding-top: 10px;
  text-align: center;
  font-size: 2rem;
  transition: all 50ms;
  transition-timing-function: cubic-bezier(0, 2.14, 1, 1.53);

  /* added to account for words found header */
  margin-top: 75px;

}

.wrong {
  transform: translateX(5px);
}

.valid {
  transform: scale(1.1);
}

/* **********************
  MESSAGE DIV
*/

#msg-display {
  text-align: center;
  height: 2rem;
  font-size: 1.5rem;
  font-style: italic;
}

/* **********************
  OPTION BUTTONS
*/

#options {
  display: flex;
  justify-content: space-around;
}

.option-button {
  /* width: 33%; */
  width: auto;
  padding: 10px;
  /* height: 75px; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
  font-size: 2.5rem;
  border: 2px solid black;
}

.option-button:hover {
  cursor: pointer;
}

#delete-letter {
  background-color: gray;
}

#submit {
  background-color: gold;
}

/* **********************
  WORDS FOUND DIV

  the pop up over screen should really only be for mobile... actually whatever I like it

*/

#game-wrapper {
  position: relative;
}

#words-found {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-color: white;
  border: 2px solid black; 
  transition: all 1s;
  border-radius: 15px;
  margin-top: 10px;

  /* display: flex;
  flex-direction: column;
  justify-content: stretch; */
}

#words-found-header-offset {
  width:25px;
}

#words-found:hover {
  cursor: pointer;
}

#words-found.close {
  padding-top: 0px;
  height: 50px;
}

.close > .arrow {
  /* this isn't working for some reason */
  transform: rotate(180deg);
  color: red;
}


#words-found-header {
  width: 100%;
  height: 50px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#words-found-header > * {
  color: black
}


.arrow {
  margin-left: 15px;
  font-size: 2rem;
  width: 10px;
}

/* can maybe use a ::before tag to create arrow */

#words-found-header-text {
  font-size: 2rem;
  font-weight: bolder;
}